{% if app.user is not null %}
    {% set wordCount = user_service.getUserwordCountToday() %}

    <div class="row">
        <div class="col-md-12">
            <div class="row {{ (wordCount < 130) ? 'bg-danger' : 'bg-success'}}">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h2 style="margin: 20px 15px;">{{ "now"|date('l, F jS') }}</h2>
                    </div>
                    <div class="pull-right">
                        {% if wordCount < 130 %}
                            <span style="display: inline-block">
                                <small>need</small>
                                <strong class="text-danger">{{ 130 - wordCount }}</strong>
                                <small>more words for 130 today</small>
                            </span>
                        {% endif %}
                        <h2 title="words saved today" style="display: inline-block; margin: 20px 15px;">{{ wordCount }}
                            <small>words today
                                <small>(updates when you save a post)</small>
                            </small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}